name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    container:
      image: bats/bats:${{ matrix.bats-version }}

    strategy:
      matrix:
        bats-version:
          - 'latest'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install SSH client
        run: apk add --no-cache openssh-client

      - name: Run kv_store tests
        run: bats ./lib/kv_store/tests/*.bats ./lib/kv_store/tests/**/*.bats

      - name: Run sshcfg_store tests
        run: bats ./lib/sshcfg_store/tests/*.bats ./lib/sshcfg_store/tests/**/*.bats
